:root{
--tomato: #ff6257;
--darkSlateGrey: #242742;
--charcoalGrey: hsl(235, 18%, 26%);
--grey: hsl(231, 7%, 72%);
--white: hsl(0, 0%, 100%);
--tomato1: hsl(4, 100%, 90%);
--inputFocus: hsl(234, 29%, 20%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
.main-1{
    width: 375px;
}
.main-1 img{
    margin-bottom: 1.4rem;
}
.container-info{
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: space-between;
    height: 100%;
}
.info-title{
    font-size: 38px;
    color: var(--darkSlateGrey);
    margin-bottom: 1.8rem;
}
.info-p1{
    font-size: 16px;
    word-spacing: 1.4px;
    line-height: 24px;
    color: var(--darkSlateGrey);
    margin-bottom: 1.8rem;
}
.checklist{
    margin-bottom: 4rem;
}
.checklist-item{
    display: flex;
    margin-bottom: 0.4rem;
}
.icon-check{
    background-image: url('./assets/images/icon-list.svg');
    display: block;
    width: 28px;
    height: 28px;
    background-image: cover;
    background-repeat: no-repeat;
    margin-right: 1rem;
}
.checklist-item p{
    line-height: 24px;
}
.container-input{
    margin-bottom: 1.4rem;
    margin-top: 4rem;
}
.container-input p{
    font-size: 12px;
    margin-bottom: 0.4rem;
}
.input-valid{
    height: 54px;
    width: 100%;
    border: 1px solid var(--grey);
    border-radius: 8px;
    font-size: 16px;
    padding-left: 1rem;
    cursor: pointer;
    outline: none;
}
.container-input input:focus{
    border: 2px solid var(--inputFocus);
}
.ca-button{
    height: 54px;
    background-color: var(--darkSlateGrey);
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition-delay: 2s;
}
.ca-button:hover{
    background-image: linear-gradient(to right top, #f75077, #fd5369, #ff595a, #ff614b, #ff6a3a);
    transition-delay: 0s;
}
.btn-width{
    width: 100%;
}
.text-email{
    display: flex;
    justify-content: space-between;
}
.errorMessage{
    color: var(--tomato);
    font-size: 12px;
    font-weight: bold;
}
.input-error{
    background-color: var(--tomato1);
    border: 1px solid var(--tomato);
}
.main-2{
    width: 375px;
    min-height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 2rem 2rem;
}
.info-subscribed{
    margin-top: 50%;
}
.icon-success{
    display: block;
    height: 68px;
    width: 68px;
    background-image: url('./assets/images/icon-success.svg');
    background-repeat: no-repeat;
    background-position: cover;
    margin-bottom: 2.8rem;
}
.info-subscribed h1{
    font-size: 40px;
    color: var(--darkSlateGrey);
    margin-bottom: 1rem;
}
.info-subscribed p{
    font-size: 18px;
    line-height: 30px;
    padding-right: 0.8rem;
}
.info-subscribed p>span{
    font-weight: bold;
}
.display-none{
    display: none;
}
@media(min-width: 1440px){
    body{
        align-items: center;
        background-color: var(--darkSlateGrey);
    }
    .main-1{
        display: flex;
        width: 900px;
        height: 640px;
        background-color: white;
        border-radius: 15px;
        padding: 1.4rem;
    }
    .container-img{
        order: 2;
    }
    .container-img img{
        content: url('./assets/images/illustration-sign-up-desktop.svg');
    }
    .info-title{
        margin-top: 4rem;
        font-size: 56px;
    }
    .container-input{
        margin-top: 1.4rem;
    }
    .checklist{
        margin-bottom: 1rem;
    }
    .main-2{
        background-color: white;
        border-radius: 15px;
        width: 440px;
        height: 440px;
    }
    .info-subscribed{
        margin-top: 0px;
    }
    .icon-success{
        width: 48px;
        height: 48px;
        background-size: contain;
    }
}